body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://wallpapersok.com/images/hd/cute-aesthetic-pc-purple-clouds-dqnz6v7randcjzeu.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    color: white;
}
textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 13px;
    font-size: 16px;
    width: 300px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
}
textarea::placeholder {
    color: rgba(200, 200, 200, 0.9); 
}
button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 13px;
    font-size: 16px;
    cursor: pointer;
    background-color: #B49FD9;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
button:hover {
    background-color: #8F77B5;
    transform: scale(1.05);
}
button:active {
    transform: scale(0.95);
}
h1, h4 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.button-group, .input-zone {
    display: flex;
    gap: 10px;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}
.secret-active {
    background-color: #BB88ED !important;
}
#soundControl {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-out;
}

html, body {
    height: 100%;
    overflow: hidden;
}

a {
    color: #e3d3f3;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}